@media (max-width: 360px){
    *{
        margin: 0;
    }
    .product-card{
        width: 10rem;
    }
    /* .catalog-percent{
        bottom: 5rem !important;
    } */

}
@media (max-width: 768px){
    .product-card{
        width: 10rem !important;
    }
    /* .catalog-percent{
        bottom: 4rem !important;
    } */
    .catalog-img{
        width: 10rem;
    }
}
.catalog{
    display: flex;
}
.products-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}
.product-card{
    flex: 1;
    border-radius: 4px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
    width: 16rem;
    margin: 1rem;
    padding: 8px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: relative;
}
.catalog-img{
    text-align: center;
    overflow: hidden;
    text-align: center;
}
.catalog-percent{
    font-size: 16px;
    font-weight: 500;
    background-color: rgba(255, 102, 51, 1);
    border-radius: 4px;
    padding: 3px 8px;
    width: 56px;
    color: white;
    position: absolute;
    bottom: 12rem;
}
.like{
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    display: flex;
    align-items: flex-start;
}
.price{
    display: flex;
    justify-content: space-between;
    color: rgba(65, 65, 65, 1);
}

.price span{
    font-size: 12px;
    color: rgba(143, 143, 143, 1);
}
.catalog-title{
    margin: 10px 0;
    font-weight: normal;
    color: rgba(65, 65, 65, 1);
}
.btn-catalog{
    border: 1px solid rgba(112, 192, 91, 1);
    color: rgba(112, 192, 91, 1);
    border-radius: 4px;
    height: 40px;
    width: 85%;
    padding: 8px;
    font-size: 16px;
    background-color: #fff;
    margin-top: 10px;
    transition-duration: 300ms;
}
.btn-catalog:hover{
    background-color: rgba(255, 102, 51, 1);
    color: white;
    border: none;
}
.btn-load-more{
    background-color: #fff;
    border: 1px solid rgba(191, 191, 191, 1);
    border-radius: 4px;
    height: 40px;
    width: 10rem;
    font-weight: 500;
    font-size: 16px;
    color: rgba(65, 65, 65, 1);
    text-align: center;
    transition: 0.2s;
}
.btn-load-more:hover{
    border: 1px solid rgba(255, 102, 51, 1);;
}