.block-search{
    position: relative;
}

.search-input{
    border-radius: 4px;
    border: 1px solid #70C05B;
    height: 40px;
    width: 100%;
    padding: 1rem 0;
    font-size: 16px;
    font-weight: 400;
    padding-left: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    transition: 0.2s;
}
.search-input:hover{
    box-shadow: 4px 8px 16px rgba(112, 192, 91, 0.2);
}
.search-input:active{
    border: 1px solid #70C05B;
    box-shadow: 4px 8px 16px rgba(112, 192, 91, 0.2);
}
.btn-search{
    position: absolute;
    top: 2.5rem;
    right: 1rem;
    border: none;
    background-color: transparent;
}
.results-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}